@import "tailwindcss";

@theme{
  --font-mont: "Montserrat", sans-serif;
  --font-actor: "Actor", sans-serif;
  --color-custom: #fb7470;
}
@layer base{
  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-mont);
  }
  body{
    font-family: var(--font-actor);
    background-color: #F4FFFD;
    color: var(--color-slate-950);
  }
}